h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img{

    height: 150px;
    width: 175px;
    border-radius: 50%;
    animation: backwards;

}

body{

    background-color: aqua;
    color: blue;
}

